# See https://help.github.com/articles/ignoring-files for more about ignoring files.

# Ignore bundler config.
/web_ui/ruby/.bundle

# Ignore the default SQLite database.
/web_ui/ruby/db/*.sqlite3
/web_ui/ruby/db/*.sqlite3-journal

# Ignore all logfiles and tempfiles.
/web_ui/ruby/log/*
/web_ui/ruby/tmp

# Ignore Spring files.
/web_ui/ruby/spring/*.pid

/web_ui/ruby/config/api_keys.yml

.idea
*.iml
diff.xml
gradle.run.settings.xml
ide.general.xml
markdown.xml
inspection
/debugger.xml
/github_settings.xml
/ignore.xml
/IntelliLang.xml
/ui.lnf.xml
/web-browsers.xml
/_windows/
*.iml
*.class
