<h1>Веб-интерфейс пользователя</h1>
<span>
  веб-сайт, являющийся интерфейсом для работы пользователя и администратора.
  Пользователь имеет возможность просматривать общую и ежедневную статистику.
</span>
